@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "status-bar.css";

body{
    font-family: "Open Sans", sans-serif;
}

.welcome-header {
    margin: 90px 0px;
    text-align: center;
    /* 환영 머리글 모든 내용들을 다 센터로 만들어줘야 해 
    그 말인즉슨 flex를 쓴다는 거지 */
    display: flex;
    /* 
    그런데 이것들이 좌우로 놓이는 게 앙니라 위아래로 놓였으면 하지?
    그러면 flex-direction을 써야지  
    */
    flex-direction: column;
    /*
    이제 교차축을 이용해 센터에 위치하게 만들어야 해
    */
    align-items: center;
}

.welcome-header__title {
    margin-bottom: 20px;
    font-size: 25px;
}

.welcome-header__text {
    width: 60%;
    opacity: 0.7;
}