#chat-screen {
  /* 채팅창 배경색을 입힌다. */
  background-color: #abc1d1;
  height: 1100vh;
}

#chat-screen .alt-header {
  /* status bar나 header 뒤에 오는 것들이 안 보이게 하기 위해서
    top을 0으로 postion을 fixed로 배경색을 채팅창 배경색과 같게 하고
    너비를 100 퍼센트로 했다. */
  top: 0;
  position: fixed;
  background-color: #abc1d1;
  width: 100%;

  box-sizing: border-box;
  /* z-index는 layer 같은 것이다.
  z-index는 절대적인 위치(absolute position)나
  고정된 위치(fixed position)에 대해서 설정할 수 있다. */
  /* z-index를 0으로 하면 다른 요소들을 가린다. 
  1로 하면 가장 위에 오게 된다. */
  z-index: 1;
}

.main-chat {
  /* status bar와 header는 main 부분을 덮고 있다.
    덮고 있는 영역을 고려해서 margin-top 값을 정했다. */
  margin-top: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#chat-screen .status-bar {
  z-index: 2;
}

.chat_timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
}
