.find-icons {
  display: flex;
  justify-content: space-between;
}

.find-icons__icon {
  display: flex;
  /* 'flex-direction: row'는 옆에 오는 거고
  'flex-direction: column'은 다음 줄에 오는 거다. */
  /* Cross Axis랑 Main Axis를 바꾼다.
  flex-direction에 따라 Cross Axis와 Main Axis가 바뀐다. */
  /* 이제 Main Axis는 세로축이고 Cross Axis가 가로축이다. */
  flex-direction: column;
  /* 그래서 이제 Cross Axis에서 바뀌는 게 필요하니까... */
  align-items: center;
}

/* 아이콘의 크기를 키운다.
필요하면 class 명을 추가하면 될 것 같다. */
.find-icons__icon i {
  /* 아이콘 크기를 font-size를 이용해서 조절할 수 있다. */
  font-size: 35px;
}

.find-icons__icon span {
  margin-top: 18px;
}

.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.recommended-friends span {
  margin: 100px 0;
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open-post__member-status {
  color: #ffa2db;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post_heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post_heart-count span {
  margin-left: 3px;
}
