.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;

  /* 숫자를 중앙에 오게 한다. */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
